@page "/"
@inherits IndexBase

<div class="alert alert-info" role="alert">
    Fill in the properties below, and hit the "Generate JWT" button below.
</div>

<EditForm Model="@jwt" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="Issuer" class="col-sm-4 col-form-label">Issuer (the identity provider issuing the token)</label>
        <InputText id="issuer" @bind-Value="@jwt.Issuer" class="form-control col-sm-4" placeholder="Issuer"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => jwt.Issuer)" />
    </div>

    <div class="form-group row">
        <label for="Audience" class="col-sm-4 col-form-label">Audience (who the token is intended for)</label>
        <InputText id="Audience" @bind-Value="@jwt.Audience" class="form-control col-sm-4" placeholder="Audience"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => jwt.Audience)" />
    </div>

    <div class="form-group row">
        <label for="Subject" class="col-sm-4 col-form-label">Subject (the entity requesting the token)</label>
        <InputText id="Subject" @bind-Value="@jwt.Subject" class="form-control col-sm-4" placeholder="Subject"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => jwt.Subject)" />
    </div>

    <div class="form-group row">
        <label for="IssuedAt" class="col-sm-4 col-form-label">Issued At (time in UTC)</label>
        <InputText id="IssuedAt" @bind-Value="@jwt.IssuedAt" class="form-control col-sm-4" placeholder="Issued At"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => jwt.IssuedAt)" />
    </div>

    <div class="form-group row">
        <label for="Expiration" class="col-sm-4 col-form-label">Expiration (by default 60 minutes after issuance)</label>
        <InputText id="Expiration" @bind-Value="@jwt.Expiration" class="form-control col-sm-4" placeholder="Expiration"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => jwt.Expiration)" />
    </div>
    
</EditForm>

<hr />
<div class="alert alert-info" role="alert">
    A JSON representation of what the deserialized token will look like (not the actual token since this text is pre-generated).<br />
    The token will be signed with a certificate as defined in appsettings.json (kid == thumbprint).
</div>
<hr />
<pre>
    <code>
        {
        "alg": "RS256",
        "kid": "@SigningCertThumbprint",
        "x5t": "placeholder",
        "typ": "JWT"
        }.{
        "iss": "@jwt.Issuer,
        "aud": "@jwt.Audience"
        "sub": "@jwt.Subject",
        "nbf": @(((DateTimeOffset)DateTime.Parse(jwt.IssuedAt)).ToUnixTimeSeconds()),
        "exp": @(((DateTimeOffset)DateTime.Parse(jwt.Expiration)).ToUnixTimeSeconds()),
        }
    </code>    
</pre>
<hr />

<div class="alert alert-info" role="alert">
    Generated token
</div>
<hr />
<code>
    @output
</code>

<hr />

<button class="btn btn-primary" @onclick="@GenerateJWT">Generate JWT</button>
